body {
    background-color: rgb(214, 236, 213);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../MEU-SITE-DE-VENDAS/img/loja.jpg);
    color: rgb(255, 255, 255);
    text-align:center;
    padding:160px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.product {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.price {

    font-weight: bold;
    color:rgb(255, 0, 0);
}

.add-to-cart {
    background-color: #008CBA;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #00587a;
}

#cart {
    text-align: center;
}

.hidden {
    display: none;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

#cart-items li {
    margin: 5px 0;
}

#checkout {
    background-color: #e44d26;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#checkout:hover {
    background-color: #b0351d;
}

   
h2{color: #afa54c;
   text-align: center;
    font-size: 20px;
    
}